# User-specific files
.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/
nupkg/

# NuGet
packages/
*.nupkg
*.snupkg

# Sample specific
/Source/Samples/DataCrud.DBOps.Sample/jobs_dbops.db

# OS files
.DS_Store
Thumbs.db
/Source/Samples/DataCrud.DBOps.Sample/Backups
